streamlit==1.20.0  # Use a version that is compatible with your Python version
tensorflow==2.17.0  # Use the closest available stable version
numpy==1.24.3
Pillow==9.5.0
opencv-python-headless==4.7.0.72
lime==0.2.0.2
scikit-image==0.21.0
python-dotenv==1.0.0
requests==2.31.0
